.calculator {
  height: 100%;
  display: grid;
  grid-gap: 2px;
  width: 50%;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.first {
  grid-column: 1 / 3;
  border-radius: 0 0 0 15px;
}

.result-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  font-size: 2.2rem;
  background-color: var(--result-bar);
  color: var(--white);
  border-radius: 15px 15px 0 0;
}

.equal {
  border-radius: 0 0 15px 0;
}

button {
  border: none;
  outline: none;
  background-color: var(--button);
  font-size: 1.2rem;
  cursor: pointer;  
}

button:hover {
  background-color: var(--button-hover);
}

.last {
  background-color: var(--last-button);
}

.last:hover {
  background-color: var(--last-button-hover);
}
