.home {
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: #f2f2f2;
  padding: 2rem;
  margin: 1.1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.6;
}
