.quote-container {
  width: 50%;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 2em 1.5em;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.quote {
  font-style: italic;
}
