* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button: #e0e0e0;
  --button-hover: #d8d8d8;
  --last-button: #f5913e;
  --last-button-hover: #e07e3e;
  --result-bar: #858694;
  --white: #fff;
  --background: #ebdada;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 65.2%;
  height: 100%;
  width: 100%;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  background-color: var(--white);
}

.calculator {
  height: 100%;
  display: grid;
  grid-gap: 2px;
}

.line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.first {
  grid-column: 1 / 3;
}

.result-line-text {
  grid-column: 1 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  font-size: 2.5rem;
  background-color: var(--result-bar);
  color: var(--white);
}

button {
  border: none;
  outline: none;
  background-color: var(--button);
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

.last {
  background-color: var(--last-button);
}

.last:hover {
  background-color: var(--last-button-hover);
}
